*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

header{
	height: 90vh;
	background: url(../images/header.jpeg);
	background-size: cover;
	background-position: center;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}


.header-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.home > div > h1 {
	color: white;
	font-size: 70px;
	font-family: 'Ubuntu', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 100px;
}

.header-text > h1 {
	font-size: 70px;
	color: white;
}

/*NAV*/

nav{
	height: 75px;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
}

nav > ul {
	display: flex;
	text-decoration: none;
	list-style-type: none;
}

nav > ul > li {
	margin: 0 60px;
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
}

li{
  list-style: none;
  margin: 0 2vw;
  font-size: 3vh;
  text-decoration: none;
}

.second-div {
    background-color: white;
    background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.left {
	height: 100vh;
	width: 40vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.right {
	height: 100vh;
	width: 40vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*TPortfolio*/
.third-div{
	background: color;
    background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}


/*Skills*/


/*Contact*/




/*Mobile responsiveness*/
/*iPhone 6,7,8*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
.header{
	 width: auto;
}
.header-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.home > div > h1 {
	color: white;
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 100px;
}
.nav{
	height: 37px;
	border-bottom: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	position: static;
	top: 0;
}
.nav > ul > li {
	margin: 0 10px;
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
}

li{
  list-style: none;
  margin: 0 20px;
  font-size: 10px;
  text-decoration: none;
}
.second-div {
    background-color: white;
    background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.left {
	height: 100vh;
	width: 40vw;
	display: center;
	justify-content: center;
	align-items: center;
}

.right img {
	height: 40vh;
	width: 40vw;
	margin: 0;
	padding: 0;
}


}

/*iPad*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
 /* STYLES GO HERE */}

